/*  Naviagtion Bar Styles */

.navigation {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.navigation-link {
  margin-top: 1.0rem;
}

.nav-link-container a {
  text-decoration: none;
  padding: 10px;
  color: #555555;
}

.nav-link-container {
  margin-left: 50%;
}

.nav-link-container .navbar-brand {
  color: #005B29;
}

.logo-brand {
  color: #005B29;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

.logo-brand:hover {
  text-decoration: none;
  color: #005B29;
}

.nav-btn a {
  color: #fff;
}

.nav-btn a:hover {
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .nav-link-container {
    margin-left: 0;
  }

  .logo-brand {
    margin-left: 10px;
  }
}